/*
 * Generic Slurm execution profile.
 *
 * Site-specific partitions, accounts, and QOS settings should be supplied
 * in a separate user config with: nextflow run main.nf -profile slurm -c site.config
 */

executor {
    name = 'slurm'
    queueSize = 100
    submitRateLimit = '1 sec'
}

process {
    executor = 'slurm'
}
