/*
 * TSCC-specific execution settings.
 *
 * Run with:
 *   nextflow run main.nf -profile tscc
 */


executor {
    name = 'slurm'
    submitRateLimit = '2sec'
}

process {
    executor = 'slurm'
    clusterOptions = '-q hcp-ddp302 -A ddp302'
}

slurm {
    partition = 'platinum'
    perCpuMemAllocation = true
}